<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instagram-Clone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36348B9C225EA9D100B46C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36348BB0225EA9D300B46C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36348BBB225EA9D300B46C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
